.authors(layout="column" layout-gt-sm="row")
  md-content.md-whiteframe-z5(flex="50" flex-order-sm="2" style="min-width:30em")
    header
      md-list
        md-list-item.md-3-line(ng-click="location('https://www.npmjs.com/~'+author)")
          img.md-avatar(ng-src="{{avatar}}")
          .md-list-item-text
            h3 {{author}}
            h4 {{total.local | number:0}} download in {{length}} days
    
      ul.pager
        li
          md-button.md-primary(ng-click="prev()") ＜
        li
          md-button.md-primary(ng-click="next()") ＞

    table.table.table-striped.table-hover
      thead
        tr
          th 
          th {{start}} 〜 {{end}}
          td {{length}} days
          td {{days}} days
      tbody
        tr(ng-repeat="pkg in packages")
          th.lank {{$index+1}}
          th
            a(ng-href="https://npmjs.org/package/{{pkg.name}}") {{pkg.name}}
          td {{pkg.local | number:0}}
          td {{pkg.global | number:0}}
      tfoot
        tr
          th
          th Total
          td {{total.local | number:0}}
          td {{total.global | number:0}}

    footer
      h2 Raw download counts:

      pre(ng-repeat="query in queries track by $index")
        | {{query}}

  div(flex="5")
  md-content(flex="45" flex-order-sm="1")
    figure
      h2.md-display-1 Top 10
      section(c3="data" c3-type="type" c3-label="label")
      
      md-radio-group.md-primary(layout="row" layout-align="center center" ng-model='type')
        md-radio-button(ng-repeat="type in types track by $index" value='{{type}}')
          | {{type}}
