.users
  .pager
    margin-bottom 0

  .md-whiteframe-z5
    padding 2em
    
    a
      color rgb(244,67,54)
    
    h4
      text-align right
  
    header
      .pager
        text-align right
        margin-top 0
    
    table
      thead
        td
          min-width 6em

      .lank
        text-align right
      th
        text-align left
      td
        text-align right
