.top
  md-content.md-whiteframe-z5
    md-list
      form(ng-submit="$state.go('authors',{author:search})")
        md-list-item(layout="row")
          md-input-container(flex)
            label Find author by name or packages...
            input(ng-model='search')

        button(style="display:none")

      md-list-item.md-3-line(
        ng-repeat="author in filtered= (authors|filter:search|orderBy:'-'+period+'.total')"
        ng-click="$state.go('authors',author)"
      )
        img.md-avatar(ng-src="{{author.avatar}}")
        .md-list-item-text
          h3(md-highlight-text="search") {{author.author}}
          h4
            span.count {{author[period].total | number:0}}
            | download in {{period | toDays}} days
          p.ellipsis(md-highlight-text="search") {{author[period].rank|names}}
        
        md-icon.md-secondary.md-hue-3(
          aria-label="Show author page"
          ng-click="location('https://www.npmjs.com/~'+author.author)"
        )
          | person outline
      
      md-list-item(layout="row" ng-show="!filtered.length")
        h3(flex="66") Notfound
        img(ng-src="https://www.npmjs.com/static/images/not-found.png" width="100%")
